<manifest package="com.mrmo.mlocationlib"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="
        android.support.compat,
        android.support.v7.appcompat,
        android.support.v4,
        android.support.mediacompat,
        android.support.fragment,
        android.support.coreui,
        android.support.design,
        android.support.coreutils,
        android.support.v7.recyclerview,
        android.support.graphics.drawable"/>

    <!-- baidu 定位sdk permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- baidu 定位sdk permission end -->

    <!-- gaode 定位SDK Permissions-->
    <!-- Normal Permissions 不需要运行时注册 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 需要运行时注册的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- gaode 定位SDK Permissions end-->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <!-- baidu location lib -->
        <!--
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zzZEUpYTjfyuqGaQcU5GNAh15V7aMmIG"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        -->

        <!-- gaode 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1fbdd5bba8789fb7383c835768e6064c"
            />
        <!-- android:value="1fbdd5bba8789fb7383c835768e6064c" 乐鸽-->
        <!-- android:value="bcc5329ea361f319bf5682b267573bf9" 众筹-->
        <!--android:value="6327387ee4ebe2ee113f2b64def6eebc"  众口味-->

        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>
